footer * {
    color: white;
}
#footer{
    position: absolute;
    bottom: 0;
}
footer>#footer{
    width: 100%;
    height: 250px;
    background: black;
    font-family: "JetBrains Mono", serif;
    /*font-style: italic;*/
}
footer>#footer>span{
    font-family: "JetBrains Mono", serif;
    /*font-style: italic;*/
    color: white;
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 100px;
    margin: 10px 0 10px 0;
    font-size: 25px;
}
footer>#footer>span>a{
    text-decoration: none;
}
footer>#footer>span:nth-child(2){
    top:50px;
}
footer>#footer>span:nth-child(3){
    top:110px;
    text-decoration: none;
}
footer>#footer>span>a{
    color: white;
    text-decoration: none;
    font-family: "JetBrains Mono", serif;
    /*font-style: italic;*/
    font-weight: bold;
}
footer>#footer>span:nth-child(4){
    top:150px;
}

footer>#footer>.pic_frame{
    width: 110px;
    height: 110px;
    background: white;
    border-radius: 100%;
    position: absolute;
    top:10px;
    left:calc(100% - 300px)
}
footer>#footer>.pic_frame>img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
footer>#footer>#company>span{
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-family: "JetBrains Mono", serif;
    font-size: 20px;
    color: white;
    right: 100px;
    top:50px;
    z-index: 9999;
}
footer>#footer>#copyright{
    position: absolute;
    bottom: 0;
    right:0;
    left:0;
    top:200px;
    margin: auto;
}
footer>#footer>#icons{
    width: fit-content;
    height: fit-content;
    position: absolute;
    right:0;
    left: 0;
    margin: auto;
}
footer>#footer>#icons>a{
    font-size: 70px;
}
#footer {
    bottom: 0;
}
@media only screen and (max-width: 1400px) {
    #footer{
        top:1900px;
        bottom :0;
        margin: auto;
    }
}
@media only screen and (max-width: 1100px) {
    #footer{
        top:3800px;
        bottom :0;
        margin: auto;
    }
}
@media only screen and (max-width: 800px) {
    #footer *{
        font-size: 15px;
    }
    footer>#footer>span{
        font-family: "JetBrains Mono", serif;
        /*font-style: italic;*/
        color: white;
        width: fit-content;
        height: fit-content;
        position: absolute;
        left: 100px;
        margin: 10px 0 10px 0;
        font-size: 15px;
    }
    #footer{
        position: absolute;

        margin: auto;
    }
    footer>#footer>.pic_frame{
        width: 80px;
        height: 80px;
        background: white;
        border-radius: 100%;
        position: absolute;
        top:10px;
        left:calc(100% - 160px)
    }
    footer>#footer>.pic_frame>img{
        position: absolute;
        width: 70px;
        height: 70px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    footer>#footer>#company>span{
        width: fit-content;
        height: fit-content;
        position: absolute;
        font-family: "JetBrains Mono", serif;
        font-size: 20px;
        color: white;
        right: 5%;
        top:90px;
        z-index: 9999;
    }
    footer>#footer>#icons{
        width: fit-content;
        height: fit-content;
        position: absolute;
        right:0;
        left: 100px;
        top:100px;
        margin: auto;
        display: none;
    }
}